## Customer Shopping Trends Dataset

ðŸ“Œ Customer ID - Unique identifier for each customer.
ðŸ“Œ Age - Age of the customer.
ðŸ“Œ Gender - Gender of the customer (Male/Female).
ðŸ“Œ Item Purchased - The item purchased by the customer.
ðŸ“Œ Category - Category of the item purchased.
ðŸ“Œ Purchase Amount (USD) - The amount of the purchase in USD.
ðŸ“Œ Location - Location where the purchase was made.
ðŸ“Œ Size - Size of the purchased item.
ðŸ“Œ Color - Color of the purchased item.
ðŸ“Œ Season - Season during which the purchase was made.
ðŸ“Œ Review Rating - Rating given by the customer for the purchased item.
ðŸ“Œ Subscription Status - Indicates if the customer has a subscription (Yes/No).
ðŸ“Œ Shipping Type - Type of shipping chosen by the customer.
ðŸ“Œ Discount Applied - Indicates if a discount was applied to the purchase (Yes/No).
ðŸ“Œ Promo Code Used - Indicates if a promo code was used for the purchase (Yes/No).
ðŸ“Œ Previous Purchases - Number of previous purchases made by the customer.
ðŸ“Œ Payment Method - Customer's most preferred payment method.
ðŸ“Œ Frequency of Purchases - Frequency at which the customer makes purchases (e.g., Weekly, Fortnightly, Monthly).

In [8]:
import pandas as pd
import re
import datetime
#import seaborn as sns
#from sklearn import preprocessing
from numpy import nan
import numpy as np
#import matplotlib.pyplot as plt

In [9]:
df_origin = pd.read_csv("shopping_trends.csv")
df = df_origin.copy()
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Credit Card,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Bank Transfer,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Cash,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,PayPal,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Cash,Free Shipping,Yes,Yes,31,PayPal,Annually

## Checking the number of Columns in the Dataset

In [16]:
df.columns

Index(['Customer ID', 'Age', 'Gender', 'Item Purchased', 'Category',
       'Purchase Amount (USD)', 'Location', 'Size', 'Color', 'Season',
       'Review Rating', 'Subscription Status', 'Payment Method',
       'Shipping Type', 'Discount Applied', 'Promo Code Used',
       'Previous Purchases', 'Preferred Payment Method',
       'Frequency of Purchases'],
      dtype='object')

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Customer ID               3900 non-null   int64
 1   Age                       3900 non-null   int64
 2   Gender                    3900 non-null   object
 3   Item Purchased            3900 non-null   object
 4   Category                  3900 non-null   object
 5   Purchase Amount (USD)     3900 non-null   int64
 6   Location                  3900 non-null   object
 7   Size                      3900 non-null   object
 8   Color                     3900 non-null   object
 9   Season                    3900 non-null   object
 10  Review Rating             3900 non-null   float64
 11  Subscription Status       3900 non-null   object
 12  Payment Method            3900 non-null   object
 13  Shipping Type             3900 non-null   object
 14  Discount Applied          3900 non-null   object
 15  Promo Code Used           3900 non-null   object
 16  Previous Purchases        3900 non-null   int64
 17  Preferred Payment Method  3900 non-null   object
 18  Frequency of Purchases    3900 non-null   object
dtypes: float64(1), int64(4), object(14)
memory usage: 579.0+ KB

 # Dataset information

 * Check Missing values
 * Check Dublicates
 * Check data type
 * Check the number of unique values of each column

In [18]:
df.shape
df.isnull().sum()    # there is not null
df.duplicated().sum() # there is not duplicated

0